<header>
    <div class="fixed-top bg-transparent p-1">
        <div class="container">
            <div class="row text-right">
                <div class="col-12">
                    <a href="http://www.App.com.br" target="_blank">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="login-page">
        <div class="content">
            <!--
            <div class="brand">-->
                <!--<a class="link" routerLink="/index">App Order</a>-->
            <!--</div>-->
            <!--{{model | json}}-->
            <form id="login-form" action="javascript:;" method="post" style="text-align:center;border-radius:25px;-webkit-border-radius: 25px;-moz-border-radius: 25px;">
                <div class="form-group d-flex justify-content-center">
                    <img [src]="logoApp" style="height:70%;width:70%;border:none; background-color:transparent" class="img-thumbnail img-responsive" alt="App Tecnologia">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <img [src]="logoOrder" style="height:33%;width: 33%;top:10%;border:none; background-color:transparent" class="img-thumbnail img-responsive" alt="Order"
                    class="img-thumbnail img-responsive">
                </div>   
                <h3 class="login-title">Order</h3>
                <!--<p>{{baseUrlApi}}</p>-->
                <ap-alert></ap-alert>
                <div class="form-group">
                <div class="input-group-icon left">
                    <div class="input-icon"><i class="fa fa-user"></i></div>
                        <input class="form-control" [(ngModel)]= "model.login" type="text" name="inputCodigoAcesso" placeholder="código" autocomplete="off" onclick="this.select()" onfocus="this.select()">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-icon left">
                        <div class="input-icon"><i class="fa fa-lock"></i>
                    </div>
                        <input class="form-control" [(ngModel)]= "model.senha" type="password" name="senha" placeholder="senha" onclick="this.select()" onfocus="this.select()">
                    </div>
                </div>
                <!--
                <div class="form-group d-flex justify-content-between">
                    <label class="ui-checkbox ui-checkbox-info">
                        <input type="checkbox">
                        <span class="input-span"></span>Remember me</label>
                    <a routerLink="/forgot_password">Forgot password?</a>
                </div>-->
                <div class="form-group">
                    <button (click)="validalogin()" class="btn btn-info btn-block" type="submit">Login</button>
                </div>
                <div class="social-auth-hr">
                    <span>Ou acesse com</span>
                </div>
                <!--
                <div class="text-center social-auth m-b-20">
                    <a class="btn btn-social-icon btn-twitter m-r-5" href="javascript:;"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-facebook m-r-5" href="javascript:;"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-google m-r-5" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-linkedin m-r-5" href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-vk" href="javascript:;"><i class="fa fa-vk"></i></a>
                </div>
                -->
                <div class="text-center color-white">Recebeu um convite?
                    <a class="color-blue" routerLink="/register">Acessar</a>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>
    <div class="fixed-bottom bg-transparent p-1">
        <div class="container">
            <div class="row text-left">
                <div class="col-5">
                    <img src="../../../assets/img/footer/ecommerce.png" alt="e-commerce App Order">
                    <!--
                    <a href="http://www.App.com.br" target="_blank">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </a>
                    -->
                </div>
            </div>
        </div>
    </div>
</footer>
